.content {
   grid-area: c;
   background-color: gray;
   border: 1px solid;
 
 }
 .content img {
   width: 100%;
   height: 350px;
 }

 .posts .item {
    color:white;
 }
 .profile_data {
   display: flex;
   max-width: 300px;
   width: 100%;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   margin: 20px;
 }
.content .profile_data .avatar {
  width: 150px;
  height: 150px;
  margin-right: 20px;

}
.profile_data .desc {
  color: white;
}
