.dialogs {
display: grid;
grid-template-columns: 2fr 10fr;
}

.dialogsItems {
   padding: 20px;

}
.dialogs .active {
   color: lightblue;
   font-weight: 700;
}
.dialog {
   color:white;
   display: flex;
   align-items: center;
   flex-direction: row;
}
.dialog a{
   color: white;
   text-decoration: none;
   font-weight: 400;

}

.dialog img {
   width: 40px;
   height: 40px;
   margin-right: 5px;

}

.messages {
    padding: 20px;
}

.message {
display: block;
min-height: 30px;
min-width: 175px;
max-width: 175px;
padding: 10px;
background-color: rgb(255, 223, 137);
color: black;
border: 1px solid;
border-radius: 15px;
margin-bottom: 5px;
}