* {
   box-sizing: border-box;
}

.dialogs {
display: grid;
grid-template-columns: 3fr 10fr;

}

.dialogsItems {
   padding: 20px;
   border-right: 1px solid black;

}
.dialogItem {
   display: flex;
   flex-direction: column;
   align-items: start;
   margin-bottom: 5px;
}
.dialogItem .imgBlock {
   background-color: #fff;
   width: 35px;
   height: 35px;
   border-radius: 50%;
   position: relative;
   margin-right: 5px;
   border: 1px solid black;
}
.dialogs .active {
   color: lightblue;
   font-weight: 700;
}
.dialog {
   color:white;
   display: flex;
   align-items: center;
   flex-direction: row;
   color: white;
   text-decoration: none;
   font-weight: 400;
   margin-right: 20px;

}

.dialog img {
   height: 25px;
   width: 25px;
   position: absolute;
   top: 10%;
   left: 10%;



}

.messages {
    padding: 20px;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.message {
display: block;
min-height: 30px;
min-width: 175px;
max-width: 175px;
padding: 10px;
background-color: rgb(255, 223, 137);
color: black;
border: 1px solid;
border-radius: 15px;
margin-bottom: 5px;
}

.createMessage {
   display: flex;
   flex-direction: column;
}
.createMessage textarea {
   height: 50px;
   border-radius: 5px;
   padding: 10px;
   outline: none;
   
}