.nav {
   grid-area: n;
   background-color: gray;
   border: 1px solid;
   padding: 20px;
 }
.item {
   margin-bottom: 5px;
}
 .item a{
    color: white;
    text-decoration: none;
    
 }
 .item a:hover {
    color:lightblue;
 }
.item a.active {
   color:lightblue;
}