.nav {
   grid-area: n;
   background-color: gray;
   border: 1px solid;
   padding: 20px;
 }
.item {
   margin-bottom: 5px;
}
 .item a{
    color: white;
    text-decoration: none;
    
 }
 .item a:hover {
    color:lightblue;
 }
.item a.active {
   color:lightblue;
   font-weight: 700;
}

.friends {
   margin-top: 30px;

}
.friendsList {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   margin-top: 15px;
}
.friendsItem {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   
}

.friendsItem img {
   width: 30px;
   height: 30px;
}
.friendsItem span {
   color: #fff;
   font-size: 12px;
}